.formulario {
    background: red;
    width: 100%;/*El width es el ancho del elemento*/
    padding: 20px;/*El padding es el espacio entre el contenido y el borde del elemento*/
    border: black 4px solid;/*El border es el borde del elemento*/
}
.formulario_input {
    padding: 12px;/*El padding es el espacio entre el contenido y el borde del elemento*/
    width: 90%;/*El width es el ancho del elemento*/
    margin: 10px;/*El margin es el espacio entre el borde del elemento y los elementos adyacentes*/
    border: 1px solid black;/*El border es el borde del elemento*/
    background: black;/*El background es el color de fondo del elemento*/
    color: white;/*El color es el color del texto del elemento*/
    border : white 2px solid;/*El border es el borde del elemento*/

}
.formulario_button {
    width: 50%;/*El width es el ancho del elemento*/
    color: white;/*El color es el color del texto del elemento*/
    border : white 2px solid;/*El border es el borde del elemento*/
}
.box {
    background: red;/*El background es el color de fondo del elemento*/
    width: 150px;/*El width es el ancho del elemento*/
    height: 150px;/*El height es la altura del elemento*/
    margin: 20px;/*El margin es el espacio entre el borde del elemento y los elementos adyacentes*/
    border: 3px solid black;/*El border es el borde del elemento*/
    text-align: center ;/*El text-align es la alineación del texto dentro del elemento*/
    color: white;/*El color es el color del texto del elemento*/
}