table {
    width: 100%;
    max-width: 500px;
    margin: auto;
    font-family: sans-serif;
    box-shadow: 0 0 40px #0003;
    border-spacing: 10px;/*Es para separar las celdas*/
    border-radius: 10px;
    margin-top: 30px;
}

td , th {
    border: none;
    border-bottom: 1px solid #000;
    padding: 6px;
    padding-bottom: 6px;
}

td {
    text-align: center;
    color: #444;
}

.header_total,
.dato_total {
    color: #f00;
    font-size: 1.4em;
    border: none;
    padding: 12px;
}