body {
    color: #00f;
}
div {
    font-family: sans-serif;
    color: brown
}
h1 {
    color: #f00;
    color: unset;
}
p {
    
    color: inherit;/* Lo que hace es que toma el color de su padre ó de algien más arriba en caso de que el padre no tenga color */
    color: initial; /* Lo que hace es que toma el valo inicial que tenia osea negro */
}