body {
    color: white;
    /* Cambia el color del texto a blanco */
}

.Card {
    background: #3169ED;
    /* Cambia el color de fondo */
    width: 360px;
    margin: auto;
    margin-bottom: 50px;
    /* Centra el elemento */
    margin-top: 20px;
    /* Añade espacio superior */
    padding: 20px;
    /* padding: 20px 10px; El primer valor es para el espacio de ariba y abajo y segundo balor para los costados*/
    text-align: center;
    /* Centra el texto dentro del elemento */
    box-shadow: 0 0 40px 0 #000;
    box-sizing: border-box;
    border-radius: 10px;
}

.Red-Card {
    background: #ff7f50;
    /* Cambia el color de fondo */
    width: 360px;
    margin: auto;
    /* Centra el elemento */
    margin-top: 20px;
    /* Añade espacio superior */
    padding: 20px;
    /* padding: 20px 10px; El primer valor es para el espacio de ariba y abajo y segundo balor para los costados*/
    text-align: center;
    /* Centra el texto dentro del elemento */
    box-shadow: 0 0 40px 0 #000;
    box-sizing: border-box;
    border-radius: 10px;
}

.Card_Img {
    margin-top: 20px;
    width: 100px;
    border-radius: 300px;
}

.Card_Title {
    text-decoration: underline;
    text-shadow: 0 0 12px #50D0FF;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    /* Elimina el margen por defecto */
    padding-top: 10px;
    /* Añade espacio interno */
    font-size: 24px;
}

.Card_Subtitle {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #50D0FF;
}

.Card_Content {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 20px;
    /* Añade espacio interno */
    color: #fff;
    background: #ECAB32;
    /* Cambia el color de fondo */
    border-radius: 10px;
    /* Bordes redondeados */
    text-align: justify;
    /* Justifica el texto */
    text-shadow: 0 0 6px #fff9;
}
.Red-Card_Content {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 20px;
    /* Añade espacio interno */
    background: #f08080;
    /* Cambia el color de fondo */
    border-radius: 10px;
    /* Bordes redondeados */
    text-align: justify;
    /* Justifica el texto */
    text-shadow: 0 0 6px #80F0F0;
}